/*Resets*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Global styles*/

html {
  font-size: 16px;
}

:root {
  --white: white;
}

body {
  color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: 1.2rem;
}

/*Header*/

#main-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #333;
  min-width: 280px;
}

#main-nav {
  flex-basis: 20%;
}

#nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hamburger {
  display: none;
  font-size: 2rem;
}

#hamburger:hover {
  font-weight: bold;
  cursor: pointer;
}

/*Responsivness*/

@media (max-width: 768px) {
  #main-nav {
    display: none;
  }
  
  #main-nav.show {
    display: block;
  }
  
  #main-nav.show #nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    left: 0;
    top: 6.6rem;
    background-color: #333;
    padding: 3rem;
  }
  
  #nav-list a:hover {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  #hamburger {
    display: block;
  }
}
